.patent-hr{
    height: 1px;
    background-color: #E0E2ED;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -20px;
    margin-right: -20px;
}

.patent-btn-group .btn-default{
    color: #587AA6;
    font-size: 12px;
    &.focus, &:focus, &:active,&:active:focus {
        // color: #333;
        background-color: #E6EDF4;
        border-color: #D3D7E5;
        color: #587AA6;
    }
}

.patent-form .row .col-md-6{
    margin-bottom: 10px;
}
