.sub-wrapper{
    display: table;
    width: 100%;
    table-layout: fixed;
    overflow: auto;
    height: 100%;
    position: relative;
    padding-top: 68px; 
}
.star-layout-static{
    display: table-row;
    height: 100%;
}
.star-static-sidebar-wrapper{
    display: table-cell;
    overflow: hidden;
    width: 256px;
    background: #f9fafe;
}
.star-static-content-wrapper{
    display: table-cell;
    width: 100%;
}