.modal-header{
    font-size: 12px;
    font-weight: 400px;
    color: #484848;
    padding:  10px;
    background-color:#f4f5f9; 
    h4.modal-title{
        font-size: 12px;

    }
}
.modal-footer{
    padding: 10px 10px;
    color: #484848;
    background-color:#f4f5f9;
}