.tabs-left>li, .tabs-right>li {
    float: none;
    margin-bottom: 2px;
}

.nav-tabs.tabs-left{
    // border-bottom: 1px solid #ddd;
    border-bottom: none
}

.tab-content{
    background-color: #F8FAFC;
    border:1px solid #D3D7E5; 
}

.nav-tabs.tabs-left>li.active>a, .nav-tabs.tabs-left>li.active>a:focus, .nav-tabs.tabs-left>li.active>a:hover{
    border: 1px solid #D3D7E5;
    border-right-color: transparent;
    background-color: #F8FAFC;
    margin-left: -10px; 
    margin-right: 1px;
    z-index: 2;
    color: #0094EF;
}

.nav-tabs.tabs-left>li>a, .nav-tabs.tabs-left>li.active>a:focus, .nav-tabs.tabs-left>li.active>a:hover{
    border: 1px solid #D3D7E5;
    border-right-color: transparent;
    border-radius: 4px 0px 0 4px;
}

.tab-pane{
    padding: 10px;
}

.star-tabs-content{

}