* {
	box-sizing: border-box;
}
html,body{
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	background: url(../images/inline_login_bg.jpg) center no-repeat;
	background-size: cover;
	overflow: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

#login {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 326px;
	height: 358px;
	margin-left: -163px;
	margin-top: -229px;
	background: #eeeeee;
	border-radius: 10px;
	border: 1px #7c868d;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.55);
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.55);
}

.login-header {
	width: 208px;
	height: 120px;
	background: url(../images/inline-logo.png) top center no-repeat;
	margin: 0 auto;
	margin-top: 20px;
	background-size: contain;
}

.form-group {
	position: relative;
	width: 294px;
	height: 50px;
	border-radius: 4px;
	margin: 0 auto;
	border: 1px solid #b5babd;
	background: #ffffff;
	margin-top: 8px;
	box-sizing: border-box;
}

.username,
.password {
	display: inline-block;
	width: 236px;
	float: right;
	height: 46px;
	margin-right: 2px;
	outline: none;
	border: none;
	font-size: 18px;
	font-family: Arial;
	color: #5e5e5e;
}

.login-btn {
	width: 294px;
	height: 50px;
	background: #2eabff;
	margin: 0 auto;
	margin-left: 16px;
	font-family: "黑体";
	font-size: 18px;
	margin-top: 19px;
	color: #FFFFFF;
	-webkit-appearance: none;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
}

.user-icon {
	display: inline-block;
	width: 25px;
	height: 25px;
	/*margin-left: 14px;
	margin-top: 10px;
	background: url(../images/inline_user_icon.png) top center no-repeat;*/
	height: 46px;
	text-align: center;
	padding-top: 11px;
    padding-left: 10px;
}

.password-icon {
	display: inline-block;
	width: 25px;
	height: 25px;
	/*margin-left: 14px;
	margin-top: 10px;
	background: url(../images/inline_pwd_icon.png) top center no-repeat;*/
	height: 46px;
	text-align: center;
	padding-top: 11px;
    padding-left: 10px;
}
.user-icon i,.password-icon i{
	font-size: 26px;
	color: #2aace1;
	
}

.login-footer {
	display: block;
	position: absolute;
	bottom: 40px;
	left: 50%;
	margin: 0 auto;
	margin-left: -177px;
	font-size: 12px;
	font-family: Arial;
	color: #FFFFFF;
}

.login-footer span {
	font-family: "黑体";
}

.ex-info {
	position: fixed;
	width: 40px;
	height: 40px;
	background: url(../images/ex_info.png) top center no-repeat;
	bottom: 30px;
	right: 100px;
	opacity: 0.7;
	cursor: pointer;
}

.popover-news:hover .ex-info {
	background: url(../images/ex_info_active.png) top center no-repeat;
	opacity: 1;
}
.popover-news:hover .info-list{
	display: block;
}

.popover-news{
	position: absolute;
    width: 40px;
    height: 40px;
    right: 100px;
    bottom: 30px;
    /*background-color: red;*/
}

.popover-news:hover{
	width: 379px;
    height: 258px;
	right: 50px;
}

.info-list{
	display: none;
	/*position: absolute;*/
    /*bottom: 85px;*/
    /*right: 50px;*/
    width: 379px;
    height: 203px;	
}

.info-header{
	position: relative;
	width: 379px;
	height: 30px;
	background: rgba(255,255,255,.8);
	border: 1px solid #478ead;
	border-bottom: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;	
}
.info-header .title{
	display: block;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-family: "黑体";
	float: left;
	margin-left: 20px;
	color: #004b98;
	font-weight: bold;
}
.info-header .cancle-icon{
	display: block;
	float: right;
	height: 30px;
	width: 30px;
	color: #004b98;
	font-size: 18px;
	font-weight: bold;
	font-family: "黑体";
	text-align: center;
	line-height: 30px;
	margin-right: 5px;
	cursor: pointer;
}
.info-content{
	width: 379px;
	height: 173px;
	background: rgba(255,255,255,.75);	
	border: 1px solid #478ead; /*#4a8f*/
	border-top: none;	
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.info-ul{
	margin: 0;
	padding: 0;
	width: 379px;
	height: 124px;
	list-style: none;
}

.info-ul li{
  padding-top: 6px;
}


.info-ul li a{
   display: inline-block;
   margin-left: 40px;
   font-size: 12px;
   font-family: "黑体";
   font-weight: bold;
   color: #000000;	
   text-decoration: none;
}

.info-ul li a:hover{
	text-decoration: none;
}

.info-ul li::before{
    position: absolute;
    left: 24px;
    content: '.';
    color: #696969;
    font-size: 52px;
    margin-top: -33px;
}

.info-ul .active-li a{
	color: #004b98;
}
.info-ul .active-li::before{
    color: #ff4e00;
}

.info-ul .info-date{
	display: inline-block;
	float: right;
	font-size: 12px;
	font-family: "黑体";
	font-weight: bold;
	color: #6b8289;
	margin-right: 20px;
	margin-top: 3px;
}
.more-info{
    display: block;
    float: right;
    font-size: 12px;
    font-family: "黑体";
    font-weight: bold;
    color: #004b98;
    text-decoration: none;
    margin-top: -23px;
    margin-right: 10px;
}
.more-info:hover{
	text-decoration: none;
}

.info-list::after{
	content: '';
    position: absolute;
    width: 20px;
    height: 13px;
    background: url(../images/sj_icon.png) top center no-repeat;
    margin-top: -2px;
    right: 61px;
    opacity: .9;
}

@font-face {font-family: "iconfont1";
  src: url('../fonts/iconfont1.eot?t=1486831397106'); /* IE9*/
  src: url('../fonts/iconfont1.eot?t=1486831397106#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont1.woff?t=1486831397106') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont1.ttf?t=1486831397106') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont1.svg?t=1486831397106#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont1 {
  font-family:"iconfont1" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-code:before { content: "\e612"; }

.icon-user:before { content: "\e613"; }